$body-background-color: #f6f6f6;
$common-background-color: #ffffff;

html body {
  background-color: $body-background-color;
}

#__next {
  height: 100%;
}

.common-main {
  margin: 0.5rem 0;
  overflow: auto;
}

@mixin common-body {
  padding: 0.3rem;
  border-radius: 0.3rem;
  // border-bottom: 1px solid #eee;
}

.common-col {
  @include common-body;
}

.ant-list-empty-text {
  background-color: $common-background-color;
}

.common-box {
  margin-left: 0.5rem;
  background-color: $common-background-color;
  @include common-body;
}

.list-body {
  background-color: $common-background-color;
  border-radius: 10px;
  margin-bottom: 5px;
}

.list-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}

.list-context {
  color: #777;
  padding: 0.5rem;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}

.list-icon span {
  display: inline-block;
  padding: 0 10px;
  i {
    margin-right: 5px;
  }
}

.breadcrumb-div {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}
