@import '../theme/params.scss';
.page-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body-container {
  overflow: auto;
  flex: 1;
}

.ant-back-top {
  bottom: 100px;
  transition: transform 1s ease;
  &:hover {
    transform: scale(1.2);
  }
  .ant-back-top-content {
    background-color: $brand-color;
  }
}
