@import '../theme/params.less';
.figure-body {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// .figure-body div {
//   border-radius: 0.3rem;
//   margin-bottom: 0.2rem;
//   overflow: hidden;
//   padding: 0.4rem;
// }

.ant-carousel {
  .slick-slide {
    height: 200px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
  }
  .slick-dots-bottom {
    bottom: 5px;
    li {
      background-color: @last-main-text;
      &.slick-active button {
        background-color: @brand-color !important;
      }
      button:hover {
        background-color: @main-text;
      }
    }
  }
}
